body {
    font-family: Nunito;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.contentPage {
    height: 100vh;
}

.title {
    font-weight: 800;
    font-size: 27px;
}

.color-blue {
    color: #4E60FF;
}

.color-gray {
    color: #C7C8D2;
}

.mt {
    margin-top: -12px;
}

.login-text {
    font-weight: 700;
    font-size: 60px;
}

.form {
    width: 85%;
    margin-top: 22%;
    color: #2B2B43;
}

p.subtitle {
    width: 350px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: calc(12.5px + 1.5 * (100vw / 2300));
    letter-spacing: 0.1px;
    color: #545563;
    margin-top: 16px;
}

.form-label,
.signUp {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.inputPassword::after {
    content: '';
    height: 22px;
    width: 22px;
    display: block;
    background: url(../Login/img/Vector.svg) no-repeat;
    position: absolute;
    top: 35px;
    bottom: 0;
    right: 15px;
    margin: auto 0;
    cursor: pointer;
}

form button {
    width: 100%;
}

.form-link {
    text-decoration: none;
    margin-top: 28px;
    font-weight: 700;
}

.login {
    transform: translateX(5%);
}

.cards {
    background-color: #697BFF;
}

.card-reviews {
    transform: translateX(30px);
    background: #FFFFFF;
    border: 0.894286px solid #EDEEF2;
    border-radius: 14.3086px;
}

h4.color-blue {
    margin-right: 10px;
}

h6.color-gray {
    font-size: 12px;
}

.fa-star {
    font-size: 12px;
}

.raiting h6 {
    min-width: 45px;
}

.card-reviews_button button {
    margin-left: 18%;
    background: #FFFFFF;
    border: 1px solid #4E60FF;
    border-radius: 8px;
}

.select {
    position: relative;
    width: 190px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #C7C8D2;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 8px 8px 12px;
}

.select span {
    color: #83859C;
    ;
}

.select::after {
    content: '';
    width: 10px;
    height: 10px;
    background: url(../Login/img/arrow.svg) no-repeat;
    position: absolute;
    top: 3px;
    bottom: 0;
    right: 30px;
    margin: auto 0;
    cursor: pointer;
}

.user-name span {
    font-size: 10px;
    color: #83859C;
}

.like,
.dislike {
    font-size: 15px;
}

.like span {
    font-size: 12px;
    margin-right: 20px;
}

.roll-set_card img {
    border-radius: 30px;
}

.roll-set_card {
    transform: translateX(26px);
    border-radius: 13.5452px;
    -webkit-box-shadow: -49px 4px 35px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -49px 4px 35px 1px rgba(34, 60, 80, 0.2);
    box-shadow: -49px 4px 35px 1px rgba(34, 60, 80, 0.2);
}


.plus-button {
    height: 40%;
    border-radius: 10.08px;
    background: #F3F4FF;
}

.plus-button i:hover {
    color: white;
}

.nigiri-set_card {
    border-radius: 13.5452px;
    margin-top: -40px;
    transform: translateX(-25px);
    -webkit-box-shadow: -23px -12px 56px -20px rgba(34, 60, 80, 0.36);
    -moz-box-shadow: -23px -12px 56px -20px rgba(34, 60, 80, 0.36);
    box-shadow: -23px -12px 56px -20px rgba(34, 60, 80, 0.36);
}

.nigiri-set_card img {
    border-radius: 30px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 30px 10px 10px 10px;
}

.plus-buttons {
    margin-top: 50px;
}

.add-button {
    position: absolute;
    margin-top: 25px;
    margin-right: 12px;
    font-size: calc(12.5px + 1.5 * (100vw / 2300));
    background: #F3F4FF;
    border-radius: 6.7726px;
}

.add-button:hover {
    color: white;
    background-color: #4E60FF;
}

i.disabled,
i.active {
    background: #EDEEF2;
    border-radius: 6.7726px;
    width: 20px;
    height: 20px;
    padding-top: 1px;
    cursor: pointer
}

i.disabled {
    color: #C7C8D2;
}

i.active:hover {
    color: white;
    background-color: #4E60FF;
}

.content-scale {
    transform: scale(.9);
}

i.fa-circle {
    visibility: visible;
    transform: translate(990px, 30px);
    font-size: 10px;
}

.slider p {
    max-width: 600px;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.circle-disabled {
    background: #FFFFFF;
    opacity: 0.3;
}

.circle-active {
    background: #FFFFFF;
}

@media(max-width: 768px) {
    .cards {
        display: none;
    }
}